// Variables
@bgcolor: #444444;
///

.shot {
    width: 500px;
    .box(vertical, stretch, stretch);
}


.textview {
    .darkinset();
    height: 300px;
    font-size: 12px;
    color: @bgcolor + 80;
    margin-bottom: 5px;
}

.filepicker{
    .darkinset();
    .flex(1);
}

#convert_seldiv{
    .flex(1);
    .box(vertical, stretch, stretch);
}
#convert_progdiv{
    .flex(10);
    .box(vertical, stretch, stretch);
}
#convert_shotfield{
    @height: 30px;
    height: @height;
    line-height: @height;
}

#progpercent {
    color: darken(white, 25);
}

#progpercent_wrap {
    position: absolute;
}

.ui-progressbar-value {
	background-image: url("/static/images/preloader.gif");
}
