// Variables
@bgcolor: #444444;
///

#convertwrapper {
    .flex(1);
    .box();
}

/*
.shot {
    padding: 10px;
    margin: 2px;
    height: 400px;
    background: @bgcolor + 25;
    .border-radius(7);
    .box-shadow();
    width: 400px;
    font-size: 24px;
    //text-align: center;
    .box(vertical, center, stretch);
    padding: 20px;
}
*/
.shot {
    width: 500px;
}


.textview {
    .darkinset();
    height: 300px;
    font-size: 12px;
    color: @bgcolor + 80;
}

.filepicker{
    .darkinset();
    .flex(1);
}

#convert_seldiv{
    .flex(1);
    .box(vertical, stretch, stretch);
}
#convert_progdiv{
    .flex(10);
    .box(vertical, stretch, stretch);
}
