@import "vendor_prefixes";
@import "convert";
@import "sidebar";
@import "history";
//@import "progressbar";

// Variables
@bgcolor: #444444;
@titlecolor: saturate(#F18D05, 20);
@buttoncolor: #00A1CB;
///

// Some mixins here:
.mainbg(){
    background-color: @bgcolor;
	background-image: url("/static/images/bg.png");
}

.title_style(@color) {
    color: @color;
    text-shadow: 1px 1px 0px darken(@color, 20);
}

.progressbar {
    height: 60px;
    margin: 4px 0px;
    .box();
    .buttonstyle(@titlecolor);
}

.buttonstyle(@color: #355DB5){
    .linear-gradient(@color + 20, @color - 20);
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em 2em .55em;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    .border-radius(5);
    margin: 5px 0px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-top: 1px solid @color+60;
    border-bottom: 1px solid @color - 70;
    color: white;

    &:focus {
        @hicolor: spin(@color, -10);
        box-shadow: 0 0px 4px lighten(@hicolor, 50);
    }

    &:hover {
        text-decoration: none;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

.field {
    .darkinset();
    color: white;
    outline: none;
    border: none;
}

.darkinset(){
    background: @bgcolor - 25;
    .border-radius(6);
    padding: 10px;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
}

///////////////

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Fresca;
	color: white;
    .mainbg();
    .box(horizontal, stretch, stretch);
}

#stage {
    .flex(1);
    .box(horizontal, stretch, stretch)
}

.tabbody {
    .flex(1);
    .box();
}


.button{
    .buttonstyle(@buttoncolor);
}

.title{
    .title_style(@titlecolor);
    font-size: 42px;
}
